<div class= "card center border-dark">
    <div class="card post-form">
    <div class="card-body">

    <%= render 'user_errors' %>

    <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
            <%= f.label :username%><br>
            <%= f.text_field :username%><br>
            <%= f.label :password%><br>
            <%= f.password_field :password%><br><br>
            <%= f.submit "Create User"%>
        <%end %>
        <br>
        <%= button_to "Login?", '/login', method: :get%>
        <%= button_to "Signin with GitHub", '/auth/github', method: :get%>

    </div>
    </div>
</div>